# Ignore macOS system files     
.*
.DS_Store

# Byte-compiled python files
*.pyc
__pycache__/

# Virtual environments
.venv/
env/
venv/

# Packaging directories
.egg-info/
*.egg-info/

# Terraform
*.tfvars
.terraform/
*.tfstate
*.tfstate.backup
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

dataset/
model/